*~
.apt_generated/
.bin
bin/
build/
.classpath
dependency-reduced-pom.xml
.factorypath
generated/
.~lock*
log/
logs/
*.log
.metadata/
pom.xml.versionsBackup
.project
.pydevproject
.settings/
.springBeans
*.swo
*.swp
target/
work/
